@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  width: 100%;
}
 h1 {
  text-align: center;
  color: #ffff00;
  font-size: 60px;
  font-family: "Lobster";
 }

 td{
  color: #ffff00;
  text-align: center;
  font-family: "Lobster";
  font-size: 30px;
  width: 400px;
 }